.dashboard-overview {
    background-color: #fff;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.05);
    text-align: center;
  }
  
  .dashboard-overview h2 {
    margin-top: 0;
    font-weight: 700;
    font-size: 1.6rem;
    color: #3b68b1;
  }
  
  .dashboard-overview p {
    color: #666;
    margin-top: 8px;
    font-size: 1rem;
  }
  